/* Reset and root styles */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue-text: #083c61; /* Centralized color variable for text */
  --blue-light-bg: #e7f2fa; /* Centralized color variable for light background */
  --blue-primary: #007bff; /* Centralized color variable for primary elements */
  --blue-dark: #0056b3; /* Centralized color variable for darker elements */
  --blue-hover: #005ec2; /* Centralized color variable for hover state */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-items: center; /* Align for vertical centering */
  justify-content: center; /* Align for horizontal centering */
  flex-direction: column; /* Stack items vertically */
  background-color: var(--blue-light-bg);
  color: var(--blue-text);
}

/* Link styles */
a {
  font-weight: 500;
  color: var(--blue-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--blue-hover);
  text-decoration: underline;
}

/* Typography */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0.5em 0; /* Add some margin for spacing */
}

/* Button styles */
button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--blue-primary);
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: var(--blue-hover);
  border-color: var(--blue-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Header, main and footer adjustments */
header, footer {
  width: 100%; /* Full width headers and footers */
  text-align: center;
}

header {
  background: var(--blue-primary);
  padding: 1rem;
  margin-bottom: 2rem; /* Spacing from header to content */
}

main {
  padding: 1rem;
  width: 90%; /* Set a max-width for your main content */
  max-width: 960px; /* Adjust to your preference */
}

footer {
  background: var(--blue-dark);
  padding: 0.5rem;
  position: fixed; /* Change to fixed so it's always at the bottom */
  bottom: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
